.chosen-container.chosen-container-multi {
    height: auto;
    padding: .4375rem .75rem;
    font-size: .8125rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #e1e5eb;
    font-weight: 300;
    will-change: border-color,box-shadow;
    border-radius: .25rem;
    margin-bottom: 1rem !important;
    box-shadow: none;
    transition: box-shadow 250ms cubic-bezier(.27,.01,.38,1.06),border 250ms cubic-bezier(.27,.01,.38,1.06);
}
.chosen-container-multi .chosen-choices{
    border: none !important;
    background-image: none !important;
}
span.loader {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    background: #ffffff87;
    height: 100%;
    padding-top: 5px;
}
span.loader i{
    font-size: 20px;
}
.btn-accent{
    position: relative;
}
.text-orange{
    color: #f89321;
}